/BHIM-Core NetBeans Project/BHIM Core/nbproject/private/
/BHIM-Core NetBeans Project/BHIM Core/build/
/BHIM-Core NetBeans Project/BHIM Local Server/nbproject/private/
/BHIM-Core NetBeans Project/BHIM Local Server/build/
/BHIM-Core NetBeans Project/BHIM Core/dist/